<h1>Telos Blog</h1>
<p>Meanwhile, back at the ranch ... </p>

<h3>Latest Blog Post</h3>
<h4><%= link_to "#{@post.title}", post_path(@post) %></h3>
<p><%= shorten(@post.body) %></p>


<div class="well">
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
<% end %>
</div>

<% if @posts.present? %>
  <%= render @posts %>
<% elsif params[:search].present? %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
