<div class="well">
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
<% end %>
</div>

<% if @posts.present? %>
  <%= render @posts %>
<% elsif params[:search].present? %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>

<% @posts.each do |post| %>
  <h1><%= link_to post.title, post_path(post) %></h1>
  <p><%= post.body %></p>
  <hr>
<% end %>
