<div>
  <h2><%= @post.title %></h2>
  <p><%= markdown(@post.body) %></p>
  <span><%= image_tag @post.image.url(:thumb), class: "img-responsive" %></span>
  <p>Date: <%= @post.created_at %></p>
  <p>Tags: <%= @post.tags %></p>
  <% if can? :manage, @post %>
    <span><%= link_to "edit", edit_post_path(@post) %></span> |
    <span><%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"} %></span>
  <% end %>
</div>

<h3>New Comment</h3>
<div class="form-group clearfix">
    <%= simple_form_for [@post, @comment], remote: true do |f| %>
      <div>
        <%= f.input :body %>
      </div>
        <%= f.button :submit, class: "btn btn-default" %>
    <% end %>
</div>

<% if @comment.errors.any? %>
   <ul class="row">
     <% @comment.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
   </ul>
<% end %>

<div id="comment">
  <% if @post.comments.empty? %>
    <p> No comments</p>
  <% else %>
      <% @post.comments.each do |comment| %>
            <%= render "/comments/comment", comment: comment %>
      <% end %>
  <% end %>
</div>
