<!DOCTYPE html>
<html>
<head>
  <title>Telos Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://www.google.com/fonts#UsePlace:use/Collection:Cinzel:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top">
    <div class ="container">
      <%= link_to "Home", root_path %> |
      <%= link_to "All Posts", posts_path %> |
      <% if user_signed_in? %>
        <%= link_to "New Post", new_post_path %> |
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete,
                data: {confirm: "Are you sure?"}  %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %> |
        <%= link_to "Log In", new_user_session_path %> |
      <% end %>
    <hr>
  </nav>
  <div class ="container">
    <span class="notice alert"><%= notice || alert %></span>
    <%= yield %>

  </div> <!--container-->

</body>
</html>
